@using Hearts.Contracts
@using Microsoft.AspNetCore.Components

@inject SignalRService SignalRService
@inject NavigationManager NavigationManager

<button class="bg-red-600 text-white border-none rounded-md px-2.5 py-1.25 cursor-pointer hover:bg-red-700" @onclick="CreateNewGame">Start New Game</button>

@code {
    [Parameter]
    public required Player Player { get; set; }

    private async Task CreateNewGame()
    {
        await SignalRService.CreateNewGame(this.Player);
        NavigationManager.NavigateTo("/gameTable");
    }
}
