@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="flex flex-col min-h-screen">
    <NavBar />
    @Body
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isDarkMode = await JSRuntime.InvokeAsync<bool>("localStorageHelper.getDarkModeSetting");
            await JSRuntime.InvokeVoidAsync("localStorageHelper.toggleDarkMode", isDarkMode);
        }
    }
}
